.pie {
  position: relative;
  margin: 1em;
}

.master, .inner {
  border: 5px solid whitesmoke;
}

.inner {
  border-color: rgb(255, 0, 235);
}

.master, .slice, .inner {
  border-radius: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
